{% extends "layout.html.twig" %}

{% set page_title = 'Accueil' %}

{% block content %}
{% for episode in episodes %}
<episode>
    <h2><a class="episodeTitle" href="{{ path('episode', { 'id': episode.id }) }}">{{ episode.title }}</a></h2>
    <p>{{ episode.content|raw }}</p>
</episode>
{% endfor %}
{% endblock %}
