body { 
    padding-top: 50px;
    background: url("../images/jeanforteroche.jpg") no-repeat;
    background-size: cover; 
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.episodeTitle:hover, .episodeTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

label.required:after {
    content: " *";
    color: #c12e2a;
}
